{%extends 'base.html'%}

{%block content%}
    <div class="row">
        <h1>
            Muthoni Properties
        </h1>
    <div class="col-md-3">
        <p>
            Welcome {{current_user.username }}
        </p>
        <p>
            <img src="https://picsum.photos/id/237/200/300" alt="">
            
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="https://picsum.photos/id/237/200/300" alt="">
            
        </p>
        <p>
            <img src="https://picsum.photos/id/237/200/300" alt="">
            
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="https://picsum.photos/id/237/200/300" alt="">
            
        </p>
    </div>
    </div>


</div>
{%endblock%}